@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="calendar">
</div>


<div id="calendarModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 id="modalTitle" class="modal-title"></h5>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">When:</div>
                    <div class="col-md-8 ml-auto"><p id="when"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-4">Description:</div>
                    <div class="col-md-8 ml-auto"><p id="description"></p></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Register</button>
        </div>
    </div>
  </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap5',
                initialView: 'dayGridMonth',
                selectable: true,
                dateClick: function(info) {
                    console.log('Clicked on: ' + info.dateStr);
                    // change the day's background color just for fun
                },
                eventClick: function(info) {
                    console.log (info.event.extendedProps.description);
                    $('#modalTitle').html(info.event.title);
                    $('#when').html(info.event.start);
                    $('#description').html(info.event.extendedProps.description);
                    //$('#eventUrl').attr('href',infoevent.url);
                    $('#calendarModal').modal('show');
                },
                events: '/events/getclubevents',
                //eventSources: [
                //    {
                //        url: '/events/getclubevents',
                //        extraParams: {
                //            custom_param1: 'description',
                //        },
                //        color: 'blue'
                //    }
                //],
                displayEventTime: false
            });
        calendar.render();
      });


    </script>
}